<div class="overlay"></div>
<header class="header">
  <div class="container">
    <div class="header__box">
      <img class="logo" src="images/icons/logo.svg" alt="logo">

      <nav class="menu">
        <ul class="menu__list">
          <li class="menu__item">
            <a class="menu__link" href="#">Масло</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">О нас</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Отзывы</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Оплата и доставка</a>
          </li>
          <li class="menu__item">
            <a class="menu__link" href="#">Оплата и доставка</a>
          </li>
        </ul>
      </nav>
      <button class="header__btn" type="submit">
        <svg class="header__cart">
          <use xlink:href="images/sprite.svg#icon-cart"></use>
        </svg>
        <span class="sr-only">Карзина</span>
        <span class="header__cart-num">1</span>
      </button>
    </div>
  </div>
</header>